<!DOCTYPE html>
<style>
title
{
color:red;
}
h1
{
color:red;
background-color:green;
}
body{
background-color:#000000
}

.img1
{
width:306,66px;height:192px;
float:right;
}
.img2
{
width:166px;height:124,33px;
}

h2
{
color:red;
}
h3
{
color:red;
background-color:green;
font-size: 25px;
}
p
{
color:white;
}
ul
{
color:white;
}
.img3
{
width:220px;height:317px;
float:right;
}

</style>